body{
    margin: 0, auto;
    display: flex;
    justify-content: center;
    position: relative;
    background-image:url(/img/fondo3.png);
    background-size: cover;
}
#canvas {
    display: none;
    position: relative;
    width: 1200px;
    height: 800px;
    background-image:url(/img/fight-screen.png);
    background-size: contain;
    margin: 40px;
    
}

header {
    display: flex;
    position: relative;
    height: 100px;
}
#player1Life{
    display:flex;
    margin-top:20px;
    margin-left: 150px;
}
.bananoLife {
    background-image: url(img/corazonG2.gif);
    background-size: contain;
    width:50px;
    height:50px;
}
#player2Life{
    display:flex;
    margin-top: 20px;
    margin-left: 800px;
    position: absolute;
}
#heartBanano1{
    display:block;
}
#heartBanano2 {
    display: block;
}
#heartBanano3 {
    display: block;
}
#heartBanano4{
    display: block;
}
#heartBanano5 {
    display: block;
}
#heartEnemyBanano1 {
    display: block;
}
#heartEnemyBanano2 {
    display: block;
}
#heartEnemyBanano3 {
    display: block;
}
#heartEnemyBanano4 {
    display: block;
}
#heartEnemyBanano5 {
    display: block;
}

.barra1 {
    display: block;
    width: 500px;
    height: 50px;
    background: linear-gradient(red, orange);
    margin: 20px;
    border: cyan 6px groove;
    /*border: 5cm; background-color: red;
    border-color: chocolate;*/
}

.barra2 {
    display: block;
    width: 500px;
    height: 50px;
    background: linear-gradient(red, orange);
    margin: 20px;
    margin-left: 140px;
    border: cyan 6px groove;

}

section {
    height: 600px;
    position: relative;
}

#banano {
    position: absolute;
    background-image: url(img/bananoBase.gif);
    background-size:cover;
}

#bananoEnemy {
    position: absolute;
    background-image: url(/img/guiri.gif);
    background-size: cover;
}

footer {
    display: flex;
    position: relative;
    height: 100px;
    justify-content: space-around;
    
}

.controlJugador1 {
    display: block;
    background: transparent;
    margin-bottom: 30px;
    width: 400px;
    text-align: center;
    font-family: 'VT323';
    font-weight: bolder;
    font-size: 35px;
    color: white;
    line-height: 30px;
}

.controlJugador2 {
    display: block;
    background: transparent;
    margin-bottom: 30px;
    width: 400px;
    text-align: center;
    font-family: 'VT323';
    font-weight: bolder;
    font-size: 35px;
    color: white;
    line-height: 30px;


}

.logoFooter {
    display: block;
    width: 190px;
    height:100px;
    position:absolute;
 
    
    
}

#start {
    display: block;
    position: relative;
    width: 1200px;
    height: 800px;
    background-image: url(/img/start-screen.png);
    background-size: cover;
    margin: 40px;
}

#startContent {
    background-color: aqua;
    display: flex;
    position: relative;
    justify-content: center;
}

#logo {
    background-image: url(img/logo.png);
    width: 800px;
    height: 416px;
    display: block;
    position: absolute;
    top: 120px;
    background-size:contain;
}

#start-button {
    display: block;
    background-color: rgb(245, 139, 18);
    border-color:rgb(199, 153, 67);
    border-radius: 20px;
    border-style: hidden;
    color: white;
    width: 320px;
    height: 80px;
    display: block;
    position: absolute;
    top: 600px;
    left: 240px;
    font-family: 'VT323';
    font-size: 50px;
    font-weight: bolder;
    
}

#credits-button {
    background-color: rgba(245, 139, 18, 0.705);
    color: white;
    border-color: orange;
    border-radius: 20px;
    width: 320px;
    height: 80px;
    display: block;
    position: absolute;
    left: 650px;
    top: 600px;
    font-family: 'VT323';
    font-size: 50px;
    font-weight: bolder;
    border-style: hidden;
}
#credits-button:hover{
    background-color: rgba(245,139,18);
}
#creditsScreen{
    width: 800px;
    height:600px;
    background-image:url(img/creditsFixed2.png);
    background-size: contain;
    color:white;
    text-align: center;
    position: absolute;
    margin-top: 150px;
    left: 850px;
}

#returnButton{
    width: 320px;
    height: 80px;
    margin-top: 470px;
    margin-left:18px;
    font-family: 'VT323';
    font-size: 60px;
    font-weight: bolder;
    background-color: transparent;
    border:none;
    color: white;
}


#gameOver {
    display: none;
    position: relative;
    width: 1200px;
    height: 800px;
    background-color: black;
    background-size: cover;
    margin: 40px;
    justify-content: center;
    background-image: url(img/gameOverContent.png);
}
#gameOverContent{
    justify-content: center;
    margin-left: 400px;
    margin-top: 10px;
}

#gameOverLogo {
    font-family: 'VT323';
    font-size: 120px;
    font-weight: bold;
    color:white;
    justify-content:center;
}

#menuButton {
    width: 200px;
    height: 80px;
    font-family: 'VT323';
    font-size: 60px;
    font-weight: bolder;
    border-radius: 20px;
    border-style: hidden;
    margin-top: 50px;
    margin-left: 100px;

}
#winner {
    color:white;
    font-family: 'VT323';
    font-size: 40px;
    font-weight: bolder;
    padding-bottom: 50px;
}

#winnerImage{
    height:350px;
    width: 350px;
}

#screenReady {
    width: 800px;
    height: 300px;
    display: block;
    font-family: 'VT323';
    background-image: url(img/readyFight.gif);
    margin-top: 200px;
    position: absolute;
    background-size: contain;
    margin-left: 200px;
}

#insertCoin{
    background-image: url(img/insertCoin.gif);
    height: 100px;
    width: 100px;
    position:absolute;
    background-size: cover;
    margin-top: 20px;
    margin-left: 1050px;
}