body {
    margin: 0, auto;
    display: flex;
    justify-content: center;
}
#canvas{
    display:block;
    position:relative;
    width:1200px;
    height:800px;
    background-color: blueviolet;
    margin:40px;
}

header{
    display:flex;
    position: relative;
    height:100px;
    background-color: bisque;
}
.barra1 {
    display: block;
    width: 500px;
    height: 50px;
    background: linear-gradient(red,orange);
    margin: 20px;
    border: cyan 6px groove;
    /*border: 5cm; background-color: red;
    border-color: chocolate;*/
}
.barra2 {
    display: block;
    width: 500px;
    height: 50px;
    background: linear-gradient(red, orange);
    margin: 20px;
    margin-left: 140px;
    border: cyan 6px groove;

}
section{
    height:600px;
    position: relative;
}

#banano {
    position: absolute;
    background-color: white;
}

#bananoEnemy {
    position: absolute;
    background-color: yellow;
}

footer{
    display: flex;
    position: relative;
    height: 100px;
    justify-content: space-around;
    background-color: green;
}

.controlJugador1{
    display:block;
    background: linear-gradient(blue, cyan);
    margin-bottom: 10px;
    margin-top: 10px;
    width:400px;
    text-align: center;
    padding:5px;
    font-family: 'Jersey 10';
    font-size: 30px;
    color:white;
    border: white 6px groove;
}
.controlJugador2{
    display:block;
    background: linear-gradient(blue, cyan);
    margin-bottom: 10px;
    margin-top: 10px;
    width:400px;
    text-align: center;
    padding: 5px;
    font-family: 'Jersey 10';
    font-size:30px;
    color: white;
    border: white 6px groove;
    
}
.logoFooter{
    display:block;
    background-color: black;
    margin-bottom: 10px;
    margin-top: 10px;
    width:100px;
    border-radius: 50%;
    text-align: center;
    color: white;
    padding:20px;
    
}

#start{
    display:flex;
    position: relative;
    width: 1200px;
    height: 800px;
    background-color: blueviolet;
    margin: 40px;
    display: block;
}
#startContent{
    background-color: aqua;
    display:flex;
    position: relative;
    justify-content: center;
}
#logo{
    /*background-image: url()*/
    width:904px;
    height:416px;
    background-color: grey;
    display: block;
    position: absolute;
    top:120px
}
#start-button{
    display:block;
    background-color: blanchedalmond;
    width:320px;
    height:80px;
    display: block;
    position: absolute;
    top:600px;
    left:240px;
}
#credits-button{
    background-color: brown;
    width: 320px;
    height: 80px;
    display: block;
    position: absolute;
    left:650px;
    top:600px;
}
